@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat-Italic.woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/Montserrat-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  font-size: 18px;
  font-family: "Montserrat";
  color: white;
}

body {
  overflow-x: hidden;
  margin: 0;
  background-color: #61B9C5;
}

a {
  text-decoration: none;
  color: white;
}

.page-header {
  height: 775px;
  width: 100%;
  background: url("../img/header-image-dark.png") no-repeat;
  background-size: cover;
  margin: 0;
  position: relative;
}

.header-container {
  height: 100%;
  max-width: 1290px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 6%);
  grid-template-rows: 150px 80px 1fr;
  grid-column-gap: 30px;
  padding: 0 5em;
}

.main-logo {
  width: 243px;
  height: 123px;
  margin-top: 20px;
  z-index: 20;
}

.header-contacts {
  height: 55px;
  display: flex;
  grid-column: 10/13;
  grid-row: 1;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin-top: 6%;
  justify-self: end;
}
.header-contacts span {
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: white;
  margin-bottom: 0.3em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-contacts span a {
  transition: color 0.2s ease;
}
.header-contacts span:hover a {
  color: #61B9C5;
}
.header-contacts span:first-child::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  position: relative;
  right: 1em;
  bottom: 0.1em;
  background-image: url("../svg/email.svg");
}
.header-contacts span:last-child::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  position: relative;
  right: 1em;
  bottom: 0.1em;
  background-image: url("../svg/phone.svg");
}

.main-nav {
  margin-right: 1em;
  color: white;
  font-style: normal;
  grid-column: 5/11;
  grid-row: 1;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  margin-top: 8%;
  width: 80%;
  margin-left: 2em;
}
.main-nav a {
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  transition: color 0.2s ease;
  height: -moz-max-content;
  height: max-content;
  padding: 1px;
}
.main-nav a:hover {
  color: #61B9C5;
}

.offer {
  grid-row: 3;
  grid-column: 1/6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 130%;
  height: 85%;
}
.offer h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}
.offer p {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.05em;
  margin-top: 0.2em;
}
.offer p + a {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: white;
  transition: border-color 0.2s ease;
  text-decoration: none;
  border-bottom: 3px solid #6AC6C1;
  width: -moz-max-content;
  width: max-content;
}
.offer p + a:hover {
  border-color: white;
}
.offer a:last-child {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: white;
  text-decoration: none;
  padding: 0.5em 2em;
  background-color: #0796DA;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
  filter: drop-shadow(4px 4px 20px #6AC6C1);
  transition: filter 0.2s ease-out;
  margin-top: 2em;
}
.offer a:last-child:hover {
  filter: drop-shadow(4px 4px 25px #6AC6C1);
}

.offer + img {
  display: block;
  max-width: 100%;
  grid-column: 6/13;
  grid-row: 2/4;
  align-self: start;
  position: relative;
  top: 10%;
  left: 10%;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.menu-burger {
  display: none;
}

@media (max-width: 1575px) {
  .offer {
    width: 140%;
  }
}
@media (max-width: 1375px) {
  .offer {
    width: 120%;
    height: 70%;
  }
  .offer h1 {
    font-size: 40px;
    line-height: 54px;
  }
  .offer p {
    font-size: 24px;
  }
  .offer p + a {
    font-size: 24px;
  }
  .offer a:last-child {
    font-size: 20px;
  }
  .offer + img {
    top: 5%;
  }
  .main-nav {
    font-size: 20px;
    width: 75%;
  }
  .main-nav a {
    font-size: 20px;
  }
  .header-contacts {
    margin-top: 0%;
  }
  .page-header {
    height: 700px;
  }
}
@media (max-width: 1270px) {
  .offer {
    width: 125%;
  }
  .offer + img {
    width: 90%;
    top: 20%;
  }
}
@media (max-width: 1240px) {
  .offer h1 {
    font-size: 36px;
    line-height: 50px;
  }
}
@media (max-width: 1170px) {
  .main-logo {
    width: 200px;
    height: auto;
  }
  .offer h1 {
    margin-top: 0;
  }
  .header-container {
    grid-template-rows: 150px 60px 1fr;
  }
  .main-nav, .header-contacts {
    align-self: start;
    margin-top: 50px;
  }
  .header-contacts {
    grid-column: 9/12;
  }
  .page-header {
    height: 650px;
  }
  .main-nav {
    grid-column: 4/10;
    font-size: 18px;
  }
  .main-nav a {
    font-size: 18px;
  }
  .header-contacts span {
    font-size: 16px;
  }
}
@media (max-width: 1070px) {
  .offer h1 {
    font-size: 32px;
    line-height: 46px;
  }
  .offer p {
    font-size: 20px;
    line-height: 30px;
  }
  .offer p + a {
    font-size: 20px;
  }
  .offer a:last-child {
    font-size: 18px;
  }
  .offer + img {
    grid-column: 6/13;
    top: 20%;
    width: 88%;
  }
  .page-header {
    height: 600px;
  }
  .main-nav {
    font-size: 16px;
  }
  .main-nav a {
    font-size: 16px;
  }
  .header-contacts span {
    font-size: 14px;
  }
  .header-contacts span::before {
    width: 20px !important;
    height: 20px !important;
  }
  .main-logo {
    width: 180px;
  }
}
@media (max-width: 1000px) {
  .offer + img {
    width: 84%;
  }
}
@media (max-width: 930px) {
  .header-container {
    grid-template-columns: repeat(10, 9%);
    grid-template-rows: 100px 10% 1fr;
    grid-column-gap: 10px;
    padding: 0 5% 0 5%;
  }
  .main-logo {
    width: 140px;
    align-self: start;
  }
  .offer {
    grid-column: 1/9;
    max-width: 460px;
  }
  .offer h1 {
    line-height: 40px;
  }
  .offer p {
    line-height: 24px;
  }
  .offer + img {
    grid-column: 5/11;
    top: 25%;
  }
  .main-nav {
    font-size: 14px;
    grid-column: 4/10;
    margin-left: 0;
  }
  .main-nav span {
    font-size: 14px;
  }
  .header-contacts {
    grid-column: 8/14;
    justify-self: center;
  }
  .header-contacts span::before {
    display: none !important;
  }
  .header-contacts span {
    font-size: 14px;
  }
  .page-header {
    height: 500px;
  }
}
@media (max-width: 720px) {
  .menu-burger {
    display: block;
    width: 35px;
    grid-column: 10;
    align-self: center;
    margin-top: 1em;
    z-index: 12;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .offer + img {
    display: none;
  }
  .offer {
    grid-column: 1/8;
  }
  .main-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: 0;
    left: 100%;
    overflow: hidden;
    background-color: rgba(20, 47, 75, 0.95);
    z-index: 10;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10em;
    transition: 0.3s left ease-in-out;
  }
  .main-nav a {
    width: -moz-max-content;
    width: max-content;
    font-size: 22px;
    margin-bottom: 1em;
    margin-left: 6%;
    transition: opacity 0.3s ease-in-out 0.2s;
    opacity: 0;
  }
  .main-nav span {
    display: none;
  }
  .header-contacts {
    z-index: 11;
    position: fixed;
    min-width: -moz-max-content;
    min-width: max-content;
    left: 111%;
    top: 75vh;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out 0.2s;
    opacity: 0;
  }
  .header-contacts span::before {
    display: block !important;
  }
  .header-contacts span a {
    font-size: 20px;
  }
}
.nav-show {
  left: 0%;
}
.nav-show a {
  opacity: 1;
}

.contacts-show {
  left: 11%;
  opacity: 1;
}

body.no-scroll {
  overflow: hidden;
}

@media (max-width: 620px) {
  .menu-burger {
    grid-column: 9;
    justify-self: end;
  }
}
@media (max-width: 499px) {
  .menu-burger {
    grid-column: 8;
  }
  .header-container {
    grid-template-columns: repeat(9, 9%);
    grid-template-rows: 100px 10% 1fr;
    grid-column-gap: 10px;
    padding: 0 5% 0 5%;
  }
  .offer {
    grid-column: 1/8;
  }
  .page-header {
    height: 550px;
  }
}
@media (max-width: 390px) {
  .page-header {
    height: 600px;
  }
}
@media (max-width: 340px) {
  .offer {
    grid-column: 1/8;
  }
  .offer h1 {
    font-size: 30px;
  }
}
.work-photos {
  background-color: #61B9C5;
  margin-top: -1em;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
.work-photos--container {
  max-width: 1290px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-photos--container h2 {
  padding-top: 0.7em;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  z-index: 9;
}
.work-photos--container span:last-child {
  font-weight: 500;
  font-size: 1.2em;
  height: 1.5em;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work-photos--container span:last-child.active::before {
  transform: rotate(180deg);
}
.work-photos--container span:last-child.active::after {
  transform: rotate(180deg);
}
.work-photos--container span:last-child::before {
  content: "";
  display: block;
  width: 25px;
  height: 18px;
  background-image: url("../svg/down-arrow.svg");
  background-repeat: no-repeat;
  margin: auto 1em;
  transition: transform 0.2s ease;
}
.work-photos--container span:last-child::after {
  content: "";
  display: block;
  width: 25px;
  height: 18px;
  background-image: url("../svg/down-arrow.svg");
  background-repeat: no-repeat;
  margin: auto 1em;
  transition: transform 0.2s ease;
}

.category {
  display: flex;
  height: 320px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2em;
  margin-top: 2em;
  overflow: hidden;
}
.category img {
  border-radius: 1%;
  transition: opacity 0.3s ease-in-out;
  background-color: rgb(215, 223, 226);
}
.category img:hover {
  opacity: 0.5;
}
.category a {
  max-width: 520px;
  width: 55%;
  min-height: 100%;
  cursor: pointer;
  display: block;
}
.category a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category .desc {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category .desc h3 {
  margin: 0;
  font-size: 1.5em;
}
.category .images {
  display: flex;
  justify-content: space-between;
}
.category .images a {
  max-width: 120px;
  width: 25%;
  height: 120px;
}
.category .images a img {
  border-radius: 3%;
}

.category:nth-child(odd) {
  flex-direction: row-reverse;
}

.category.hidden {
  display: none;
}

@media (max-width: 1370px) {
  .work-photos--container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
  }
  .category .desc {
    width: 45%;
  }
}
@media (max-width: 1220px) {
  .category .desc {
    width: 50%;
  }
  .category a {
    width: 40%;
  }
}
@media (max-width: 1120px) {
  .category {
    height: 320px;
  }
  .category h3 {
    font-size: 1.3em;
  }
  .category .images a {
    height: 100px;
    width: 22%;
  }
  .work-photos--container h1 {
    font-size: 1.4em;
  }
}
@media (max-width: 920px) {
  .category .desc {
    width: 53%;
  }
  .category a {
    width: 35%;
  }
}
@media (max-width: 860px) {
  .category {
    height: 270px;
  }
  .category .desc h3 {
    font-size: 1.1em;
  }
  .category .desc p {
    font-size: 0.8em;
  }
  .category .images a {
    height: 80px;
  }
}
@media (max-width: 720px) {
  .category {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    width: 100%;
    height: auto;
  }
  .category .desc {
    width: 100%;
    align-items: center;
    max-width: none;
    align-items: start;
  }
  .category .desc h3 {
    font-size: 1.2em;
  }
  .category .desc p, .category .desc li {
    margin-bottom: 0;
    width: 100%;
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
  }
  .category a {
    width: 100%;
    margin-top: 1em;
    max-width: none;
  }
  .category a img {
    max-height: 350px;
  }
  .category .images {
    width: 100%;
  }
  .category .images a {
    height: 80px;
    width: 22%;
  }
  .category:nth-child(odd) {
    flex-direction: column;
  }
}
.more-photos {
  margin-top: 20px;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: #539BA9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more-photos > span {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.05em;
}
.more-photos > span a {
  color: #6AC6C1;
  letter-spacing: 0.05em;
  line-height: 34px;
  font-weight: 500;
  border-bottom: 2px solid #6AC6C1;
  transition: all 0.2s ease;
}
@media (max-width: 810px) {
  .more-photos > span a {
    padding-bottom: 3px;
  }
}
.more-photos > span a:hover {
  color: white;
  cursor: pointer;
  border-color: white;
}
.more-photos img {
  height: 80px;
}
@media (max-width: 810px) {
  .more-photos img {
    display: none;
  }
  .more-photos {
    padding: 1%;
  }
}

.reasons {
  display: flex;
  flex-direction: column;
  background-color: #61B9C5;
  align-items: center;
  padding-bottom: 3em;
}
.reasons h2 {
  margin-top: 1.5em;
}
.reasons .figures {
  margin-top: 1em;
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reasons .figures img {
  width: 20%;
}

@media (max-width: 1120px) {
  .reasons h2 {
    font-size: 1.3em;
  }
}
@media (max-width: 810px) {
  .figures {
    flex-direction: column;
  }
  .figures img {
    width: 40% !important;
    margin-bottom: 2em;
  }
}
@media (max-width: 500px) {
  .figures img {
    width: 80% !important;
  }
}
.contacts {
  background-color: #61B9C5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
}
.contacts h2 {
  margin: 0;
}
.contacts .contacts__info {
  max-width: 1290px;
  min-width: 520px;
  width: 40%;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 20% 15% auto;
  grid-template-rows: 0.4fr 0.2fr 0.4fr 0.4fr 0.4fr;
}
.contacts .contacts__info a {
  transition: color 0.2s ease;
}
.contacts .contacts__info a:hover {
  color: #0796DA;
}
.contacts .contacts__info .name {
  font-weight: 600;
  font-size: 120%;
  line-height: 34px;
  grid-column: 1/3;
}
.contacts .contacts__info .name:nth-child(8) {
  grid-column: 1/2;
}
.contacts .contacts__info .name:nth-child(4) {
  margin-bottom: 3em;
}
.contacts .contacts__info .value {
  font-style: italic;
  font-weight: 400;
  font-size: 120%;
  line-height: 34px;
  justify-self: end;
  text-align: end;
}
.contacts .contacts__info .value:last-child {
  grid-column: 2/4;
  grid-row: 5;
}
.contacts .contacts__info hr {
  grid-row: 2;
  grid-column: 1/4;
  width: 100%;
  height: 1px;
}

@media (max-width: 570px) {
  .contacts div.contacts__info {
    min-width: 270px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts div.contacts__info .name, .contacts div.contacts__info .value {
    font-size: 100%;
    text-align: left;
  }
  .contacts div.contacts__info .name:nth-child(4) {
    margin: 0;
  }
  .contacts div.contacts__info .value:nth-child(5) {
    margin-bottom: 2em;
  }
}
.thanks {
  background-color: #61B9C5;
}
.thanks__container {
  margin: 0 auto;
  padding-bottom: 2em;
  max-width: 1290px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thanks__container h1 {
  margin: 0;
}
.thanks__container .carousel {
  margin: 2em;
  width: 90%;
}
.thanks__container .carousel__slide {
  width: 40%;
  margin: 0;
}
.thanks__container .carousel__slide a img {
  width: 100%;
}
@media (max-width: 500px) {
  .thanks__container .carousel__slide {
    width: 70%;
  }
}
.thanks__container .carousel .carousel__button {
  background-color: #142F4B;
}

.page-footer {
  width: 100%;
  background-color: #142F4B;
}
.page-footer__container {
  max-width: 1290px;
  margin: 0 auto;
  padding-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 0.3fr;
  align-items: center;
  justify-items: center;
}
.page-footer__container > a {
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
}
@media (max-width: 779px) {
  .page-footer__container > a {
    font-size: 16px;
  }
  .page-footer__container > a::before {
    width: 30px;
    height: 30px;
  }
}
.page-footer__container > a::before {
  content: "";
  background: url("../svg/pdf-icon.svg");
  width: 50px;
  height: 50px;
  margin-right: 1em;
}
.page-footer__container > a:hover {
  color: #61B9C5;
}
.page-footer__container img {
  width: 70%;
  grid-area: 1/2/2/3;
}
.page-footer__container .footer-contacts {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.page-footer__container .footer-contacts span:first-child::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  margin-right: min(5%, 2vh);
  background-image: url("../svg/email.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 779px) {
  .page-footer__container .footer-contacts span:first-child::before::before {
    width: 18px !important;
    height: 18px !important;
  }
}
.page-footer__container .footer-contacts span:last-child::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  margin-right: min(5%, 2vh);
  background-image: url("../svg/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 779px) {
  .page-footer__container .footer-contacts span:last-child::before::before {
    width: 18px !important;
    height: 18px !important;
  }
}
.page-footer__container .footer-contacts span {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.2em;
  width: 100%;
  font-size: min(16px, 1em);
}
.page-footer__container .footer-contacts span a {
  transition: color 0.2s ease;
  font-size: 1em;
}
.page-footer__container .footer-contacts span:hover a {
  color: #61B9C5;
}
@media (max-width: 779px) {
  .page-footer__container .footer-contacts span {
    font-size: 14px;
  }
  .page-footer__container .footer-contacts span::before {
    width: 18px !important;
    height: 18px !important;
  }
}
.page-footer__container span {
  grid-area: 2/1/3/4;
  align-self: center;
  padding: 1em;
}
.page-footer__container span span#current-year {
  padding: 0;
  font-size: inherit;
}
@media (max-width: 779px) {
  .page-footer__container span {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .page-footer__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    align-items: center;
    grid-gap: 3%;
  }
  .page-footer__container img {
    grid-area: 2/1/3/3;
    width: 40%;
    padding-top: 1em;
  }
  .page-footer__container > span {
    grid-area: 3/1/4/3;
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .page-footer__container {
    padding-top: 1em;
  }
  .page-footer__container > span {
    font-size: 10px;
  }
  .page-footer__container .footer-contacts span {
    font-size: 12px;
  }
  .page-footer__container a {
    font-size: 11px;
  }
  .page-footer__container a a::before {
    width: 20px !important;
    height: 20px !important;
  }
}
#up-btn {
  display: none;
  opacity: 0.7;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 5%;
  right: 5%;
  filter: drop-shadow(0px 0px 5px #fff);
  transition: opacity 0.2s ease, filter 0.2s ease 0.1s;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
#up-btn:hover {
  filter: drop-shadow(0px 0px 10px #fff);
  opacity: 1;
}
#up-btn:active {
  filter: drop-shadow(0px 0px 15px #fff);
}
#up-btn img {
  width: 100%;
  height: 100%;
  transform: rotate(270deg);
  color: white;
}/*# sourceMappingURL=main.css.map */